 <ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="../../assets/me.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="card-body">
    <ion-item>
      <ion-label>Tompowo Mouaffo Manon Delanie</ion-label>
      <ion-icon name="person-outline" slot="start"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>CM-UDS-22SCI1828</ion-label>
      <ion-icon name="id-card-outline" slot="start"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>manondelanie@gmail.com</ion-label>
      <ion-icon name="mail-open-outline" slot="start"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>(+237 651848639)</ion-label>
      <ion-icon name="call-outline" slot="start"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Yaounde Cameroon</ion-label>
      <ion-icon name="at-outline" slot="start"></ion-icon>
    </ion-item>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="ion-text-center">
        MAM416 M1ISOC - University of Dschang
    </div>
  </ion-toolbar>
</ion-footer>
